@charset "utf-8";

#headline{
	width: 100%;
	height: 300px;
	min-width: 1263px;
	background: url(../img/background2.jpg) no-repeat center;
	position: relative;
}
#headline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup{
	color: #993333;
	padding: 100px 0 0 50px;
}