  @charset "utf-8";

html{
	font-size: 625%;//相当于100px,因为不同浏览器对rem的理解不一样，故需要设置这么大
		//一般都是按照设备分辨率为640px来做，设备的逻辑分辨率一般都在320px~640px之间
}
body,h1,h2,h3,h4,ul,ol,p,figure{
	margin: 0;
	padding: 0;
}
body{
	background: #fff;
	font-family: "Helvertia Neue",Helvertia,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;
	font-size: 0.16rem;
}
ul,ol{
	list-style: outside none none;
} 
a{
	text-decoration: none;
}
img{
	display: block;
	max-width: 100%;
}
div,figure,figcaption,img{
	box-sizing: border-box;
}
.none{
	display: none;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*头部*/
#header{
	width: 100%;
	height: .45rem;
	background-color:#008B45;
	font-size: 0.16rem;
	position: fixed;
	top: 0;
	z-index: 9999;
}
/*网站导航*/
#header .link{
	height: .45rem;
	color: #eee;
	line-height: .45rem;
}
#header .link li{
	width: 25%;
	text-align: center;
	float: left;
}
#header .link a{
	color: #eee;
	display: block;
}
#header .link a:hover{
	background-color:#43CD80;
}
#header .active a{
	background-color: #43CD80;
}
/*广告区域*/
#adver{
	max-width: 6.4rem;
	margin: 0 auto;
	padding: .45rem 0 0 0;
}
#search {
	max-width: 6.4rem;
	height: .33rem;
	margin: 0 auto;
	padding: .03rem 0 0 0;
	background-color: #ddd;
	position: relative;
}
#search .search{
	width: 95%;
	height: .27rem;
	font-size: .14rem;
	padding: 0 .05rem;
	border-radius: .04rem;
	border:none;
	outline:none;
	background-color: #fff;
	display: block;
	margin: 0 auto;
}
#search .button{
	display: block;
	background-color: #eee;
	outline: none;
	cursor: pointer;
	color:666;
	width:.5rem;
	height: .27rem;
	border:none;
	border-top-right-radius: .04rem;
	border-bottom-right-radius: .04rem;
	position: absolute;
	top:.03rem;
	right: 1%;
}
#tour{
	max-width: 6.4rem;
	margin: .1rem auto 0 auto; 
}
#tour h2{
	text-align: center;
	font-size: .26rem;
	color: #666;
}
#tour h3{
	text-align: center;
	font-size: .16rem;
	font-weight: normal;
	color: #666;
	margin: .05rem 0 .1rem 0;
}
#tour figure{
	width:50%;
	float:left;
	background-color: #eee;
	font-size: .16rem;
	padding: 0 0 .05rem 0;
}
#tour img{
	padding: .02rem;
	vertical-align: center;
	border-radius:.04rem; 
}
#tour figcaption{
	color: #666;
	font-size: .16rem;
	padding: .02rem .05rem;
}
#tour h4{
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tour p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tour .info{
	padding: .1rem 0 0 0;
	font-size: .16rem;
}
#tour .price{
	color: #f60;
}
#tour .price strong{
	letter-spacing: .01rem;
}
#tour .sat{
	position: relative;
	float: right;
	right: .05rem;
	font-size: normal;
}
#headline{
	max-width: 6.4rem;
	margin: 0 auto;
	padding: .45rem 0 0 0;
	position: relative;
}
#headline img{
	opacity: 0.8;
}
#headline hgroup{
	position: absolute;
	top: 50%;
	left: 10%;
	color: #333;
	text-shadow: -.05rem .05rem .05rem white;
}
#headline h2{
	font-size: .22rem;
}
#headline h3{
	font-size: .14rem;
}
.list{
	margin: .15rem auto;
	padding: 0 .1rem;
	max-width: 6.4rem;
	font-size: .16rem;
	color: #666;
}
.list h2{
	/*text-align: center;*/
	font-size: .2rem;
	border-bottom: .01rem dashed #999;
	padding: 0 0 .15rem 0;
}
.about p{
	line-height: 2;
	margin: .2rem;
}
.about address{
	font-style: normal;
	margin: .2rem 0; 
	line-height: 1.6;
}
/*底部区域*/
#footer{
	max-width: 6.4rem;
	/*高度不设置，自适应*/
	background-color: #009B51;
	color:#ddd;
	margin: 0 auto;
	text-align: center;
	padding: .1rem 0;
}
#footer .top{
	padding: 0 0 .05rem 0;
}
/*媒体查询，大于480px,小于640px*/
@media (min-width: 480px) and (max-width: 640px){
	#tour h2{
		font-size: .26rem;
	}
	#tour h3,#footer,#tour figcaption,#tour .info, .list{
		font-size: .16rem;
	}
	#headline h2{
		font-size: .22rem;
	}
	#headline h3{
		font-size: .14rem;
	}
}
/*媒体查询，小于480px*/
@media (max-width: 480px){
	#tour h2{
		font-size: .20rem;
	}
	#tour h3,#tour figcaption,#tour .info, .list{
		font-size: .14rem;
	}
	#footer{
		font-size: .12rem;
	}
	#headline h2{
		font-size: .18rem;
	}
	#headline h3{
		font-size: .12rem;
	}
}